<ul>
    <li><%= link_to "Home Page", controller: 'welcome' %></li>
    <li><%= link_to "Characters Page", controller: 'characters' %></li>
    <li><%= link_to "Create A New Character", new_character_path %></li>
</ul>
<body>

<h1>Show Character</h1>

<p>
    Character Name: 
    <%= @character.name %>
</p>

<p>
    Character Description:
    <%= @character.description %>
</p>

<h2>Campaigns</h2>
<% @character.campaigns.each do |campaign| %>
    <p>
        <strong>Title:</strong>
        <%= campaign.title %>
    </p>
    
    <p>
        <strong>Info:</strong>
        <%= campaign.info %>
    </p>
    
    <p>
          <td><%= link_to 'Destroy Campaign', [campaign.character, campaign],
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %>
    </p>
    
<% end %>

<h2>Add A Campaign for this Character</h2>

<%= form_for([@character, @character.campaigns.build]) do |t| %>
    <p>
        <%= t.label :title %></br>
        <%= t.text_field :title %>
    </p>
    <p>
        <%= t.label :info %></br>
        <%= t.text_area :info %>
    </p>
    
    <p>
        <%= t.submit %>
    </p>
<% end %>

<%= link_to 'Character List', characters_path %>
</body>