
<body>
<<<<<<< HEAD
=======
<h1>Show Character</h1>
>>>>>>> bd3e105217c9cc5e4d5614ef13b1a4aeb117ccab

<p>
    Character Name: 
    <%= @character.name %>
</p>

<p>
    Character Description:
    <%= @character.description %>
</p>

<h2>Campaigns</h2>
<% @character.campaigns.each do |campaign| %>
    <p>
        <strong>Title:</strong>
        <%= campaign.title %>
    </p>
    
    <p>
        <strong>Info:</strong>
        <%= campaign.info %>
    </p>
    
          <td><%= link_to 'Destroy',
                                character_campaign_path(campaign),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %></td>
<% end %>

<h2>Add A Campaign for this Character</h2>

<%= form_for([@character, @character.campaigns.build]) do |t| %>
    <p>
        <%= t.label :title %></br>
        <%= t.text_field :title %>
    </p>
    <p>
        <%= t.label :info %></br>
        <%= t.text_area :info %>
    </p>
    
    <p>
        <%= t.submit %>
    </p>
<% end %>

<%= link_to 'Character List', characters_path %>
</body>